@import url(null.css);
@import url(layout.css);

body {
	background: #ffffff;
	font-size: 12px;
	font-family: "Trebuchet MS";
	color: #828481;
}
a {
	color:red;
}
#wrap {
	min-width: 1000px;
	margin: 0 auto;
}
#wrap  div.top-menu-wrap {
	min-width: 1000px;
}
#top-info {
	min-height:175px;
	min-width:1000px;
}
#top-menu {
	background:#404040 none no-repeat scroll left top;
	height:19px;
}
#top-menu ul {
	float:right;
	width:200px;
	overflow:hidden;
	height:19px;
}
#top-menu ul li {
	float:left;
	background:transparent url(../images/top-menu-separator.gif) no-repeat scroll left 4px;
	padding:0 5px;
}
#top-menu ul li.first {
	background: none;
}
#top-menu ul li a {
	color: #bec6bb;
	font-family: "Trebuchet MS";
	font-size: 11px;
}
#top-menu ul li a:hover {
	text-decoration: none;
}

a.home {
	cursor: pointer;
	text-decoration: none;
}

#top-info .info {
	float:left;
	text-align:center;
	width:260px;
	position:relative;
}
#top-info .phone {
	color:red;
	font-size:25px;
	left:55px;
	position:absolute;
	top:90px;
}
#top-info .phone span {
	color: #8a9386;
	font-size: 18px;
}
#top-info .slogan {
	color:#828481;
	left:42px;
	margin:0 auto;
	position:absolute;
	top:120px;
	width:175px;
}
#top-info .info p{
	text-align:center;
}
.links {
	height:153px;
	margin:13px 0 0;
}
.links td.content {
	border-left:1px #828481 dashed;
	padding:0 15px;
	vertical-align:top;
	width:32%;
}
.links ul li p{
	
}
.links td p span{
	display:block;
	margin:0 0 15px;
}
.links td p span a {
	display: block;
	color: #e90000;
}

.menu { 
	height: 35px; 
	overflow: hidden; 
	margin:0 0 0 290px;
}
.menu li {
	float: left; 
	display: block; 
	height: 35px; 
	margin-left: -5px; 
	background: url(../images/menu_line.gif) no-repeat left 0; 
	text-align: center;
}
.menu-wrap .menu li.parent ul {
	display: none;
}
.menu li span {
	float: left; 
	display:block; 
	height: 35px;
}
.menu li span a {
	height: 35px; 
	float: left; 
	display:block;  
	padding:10px 26px 0; 
	font: normal 15px "Trebuchet MS"; 
	color: #373737; 
	text-decoration: none; 
	white-space: nowrap; 
	outline:none 
}
.menu li.active { 
	background: white url(../images/menu_act_l.gif) no-repeat left; 
}
.menu li.active span { 
	position: relative; 
	background: url(../images/menu_act_r.gif) no-repeat right; 
}
.menu li.active span a {
	height: 30px; 
	padding:5px 26px 0;
	color: #3A3A3A; 
	cursor: default; 
}
.menu-wrap {
	background: transparent url(../images/main-menu-bg.jpg) repeat-x top;
	height:35px;
	width:100%;
}
#mygallerylong {
	overflow: hidden;
	width:100%;
	height: 233px;
}
.stepcarousel{
	position: relative;
	overflow: scroll;
	width: 970px;
	height: 200px;
}
p.samplebuttons a{
color: #2e6ab1;
padding: 1px 2px;
margin-right: 3px;
text-decoration: none;
}

.block-1 {
	min-width: 1000px;
}
.left-menu-wrap {
	float:right;
	text-align:left;
	width:254px;
}
.left-menu-wrap .left-menu {
	border-left:1px solid #DFDFDF;
	margin:13px 0 8px;
	padding:0 0 0 28px;
}
.wr-left-menu {
	margin:9px 0 8px;
	padding:10px 0 0;
}
.left-menu-wrap .left-menu h1,
.wr-left-menu h1,
.main-content .center-sidebar-index h1.index-title{
	color: #373737;
	font-size: 15px;
	font-weight:bold;
}
h1.index-title {
	margin:18px 0 0 !important;
}
.left-menu-wrap .left-menu ul{
	margin:18px 0 25px;
}
.wr-left-menu  ul{
	margin:18px 0 25px 20px;
}
.wr-left-menu  ul li {
	margin:6px 0;
}
.wr-left-menu  ul li a{
	font-size:13px;
}
.left-menu-wrap .left-menu ul li,
.wr-left-menu  ul li{
	background:transparent url(../images/menu-arrow.gif) no-repeat scroll 0 6px;
	list-style-type:none;
	padding:0 0 0 19px;
}
.services {
	float:left;
	margin:20px 0;
	text-align:left;
}
.services td{
	vertical-align: top;
}
.services p.title {
	font-size: 15px;
}
.services .services-01{
	background:transparent url(../images/services-01.jpg) no-repeat scroll center 0;
	padding:154px 5px 0;
	width:225px;
	min-width:225px;
}
.services .services-02{
	background:transparent url(../images/services-02.jpg) no-repeat scroll center 0;
	padding:154px 5px 0;
	width:225px;
	min-width:225px;
}
.services .services-03{
	background:transparent url(../images/services-03.jpg) no-repeat scroll center 0;
	padding:154px 5px 0;
	width:225px;
	min-width:225px;
}
.services .services-04{
	background:transparent url(../images/services-04.jpg) no-repeat scroll center 0;
	padding:154px 5px 0;
	width:225px;
	min-width:225px;
}
.services h1 {
	color:#373737;
	font-size:19px;
	margin:0 0 23px 8px;
}

.main-content-wrap {
	min-width: 1000px;
}
.main-content {
	border-top:1px solid #DFDFDF;
	min-width:1000px;
	padding:0 21px 0 12px;
	width:100%;
}
.main-content tr{
	padding:0 21px 0 12px;
}
.main-content .center-sidebar-inner {
	padding:20px 70px 0 35px;
}
.main-content td{
	vertical-align: top;
}
.main-content .center-sidebar-index {
	padding:0 27px 11px;
	min-width:495px;
}
.main-content .center-sidebar {
	float:left;
	margin:5px;
	width:100%;
}
.main-content .right-sidebar-inner {
	float:right;
	margin:0 0 20px;
	padding:15px 25px 0 15px;
	width:255px;
}
.main-content .right-sidebar {
	float:right;
	margin:0 0 20px;
	padding:0 25px 0 15px;
}
.main-content .center-sidebar-inner h1,
.main-content .center-sidebar-index h1,
.main-content .center-sidebar h1{
	color:#444444;
	font-size:2.77em;
	font-weight:normal;
	margin:12px 0 14px;
}
.hightlight {
	background:#EAEAEA none repeat scroll 0 0;
	margin:0 0 11px;
	padding:10px;
}
.hightlight p{
	color:#000000;
	font-size: 13px;
	margin: 5px 0;
}
.text {
	text-align:left;
}
.text p{
	margin: 15px 0 0 0;
}
.text h2 {
	font-size: 15px;
	color:#000000;
}
.text p {
	color: #000000;
	font-size: 13px;
	margin: 15px 0;
	text-indent:0;
	font-family: "Trebuchet MS";
}
.text ul {

}
.text ul li {
	background:transparent url(../images/star.gif) no-repeat scroll 0 2px;
	list-style-type:none;
	padding:0 0 0 10px;
	color:#000000;
	font-size:13px;
}

.contacts-wrap {
	min-width:1000px;
	margin:0 0 50px;
}
.contacts {
	border-top:1px solid #DFDFDF;
	margin:0 27px 0 15px;
	padding:20px 0 0 5px;
}
.contacts p{
	margin: 5px 0;
}
.contacts h1{
	font-size: 15px;
	margin: 0 0 21px 0;
}

.footer {
	min-width: 1000px;
	height: 99px;
}
.footer-menu {
	background:#404040 none no-repeat scroll right 0;
	min-width:71%;
	height:49px;
}
.footer-menu ul li.last{
	background:transparent none repeat scroll 0 0;
}
.footer-menu ul {
	overflow:hidden;
	padding:10px 0 0;
}
.footer-menu ul li {
	background:transparent url(../images/top-menu-separator.gif) no-repeat scroll right 4px;
	float:left;
	padding:0 15px;
}
.footer-menu ul li a{
	color:#BEC6BB;
	font-size: 12px;
	font-family:"Trebuchet MS";
}
.copy {
	float: right;
	width:220px;
}
.copy p{
	color:#7A7A7A;
	font-size:12px;
	height:55px;
	margin:44px 0 0;
}
p.samplebuttons{
width: 300px;
text-align: center;
}

p.samplebuttons a{
color: #2e6ab1;
padding: 1px 2px;
margin-right: 3px;
text-decoration: none;
}

.bannerside {
	padding:15px 0 0;
	width:255px;
}
.left-sidebar,
.left-sidebar-inner {
	padding:0 15px 15px 10px;
	width:255px;
}
.left-sidebar-portfolio {
	padding:30px 15px 15px 35px;
}
.left-sidebar-portfolio p{
	margin:15px 0;
}
.wr-banner-2 {
	background:transparent url(../images/banner-bg-body.gif) repeat-y scroll 0 0;
	margin:0 0 6px;
	width:255px;
}
.wr-banner-1 {
	background:transparent url(../images/banner-bg-top.gif) no-repeat scroll 0 top;
}
.wr-banner-1 .yandex{
	color: #404040;
	padding: 10px;
	width:235px;
}
.wr-banner-1 .hosting{
	color:#5D6264;
	padding: 10px;
	width:235px;	
}
.google-banner{
	background:transparent url(../images/google-logo.jpg) no-repeat scroll right top;
	color:#939393;
	width:255px;
}
.wr-banner-1 .google ul{
	margin:115px 0 0;
}
.wr-banner {
	font-size: 12px;
	padding:10px;
	margin:0 0 10px;
	background:transparent url(../images/banner-bg-bottom.gif) no-repeat scroll 0 bottom;
}
.contact-banner {
	background:#5BA62C !important;
}
.new-feedback #contact-form p,
.new-feedback #contact-form p span{
	color:#ffffff !important;
}
.wr-banner ul li{
	background:transparent url(../images/menu-arrow.gif) no-repeat scroll 0 6px;
	padding:0 0 0 15px;
}
.wr-banner ul.google li{
	background:transparent url(../images/menu-arrow2.gif) no-repeat scroll 0 6px;
	padding:0 0 0 15px;
}
p.banner-title {
	font-weight: bold;
	font-size: 16px;
	color: #5d6264;
	width:243px;
}
div.google  p.link a{
	font-size: 15px;
	color: #3ca300;
	font-weight: bold;
	text-decoration: none;
}
div.google  p.link a:hover{
	text-decoration: underline;
}
p.banner-text {
	margin:5px 0 5px 8px;
	line-height:1.5;
	width: 230px;
}
p.banner-text  a{
	font-size:13px;
}
.hosting-logo {
	width:243px;
}
.hosting-list {
	width:243px;
}
.yandex-logo {
	width:243px;
}
.news ul li,
.clients ul li {
	margin:15px 0 25px;
}
.news ul li a.title,
.clients ul li a.title {
	color:red;
	display:block;
	font-size:12px;
	font-weight:bold;
	margin:0 0 5px;
	text-decoration:none;
	text-transform:uppercase;
}
.news p.all-news,
.clients p.all-news {
	display:block;
	height:30px;
	text-align:right;
}
.news p.all-news a,
.clients p.all-news a{
	color:red;
	display:block;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	float: right;
}
.news ul li p,
.clients ul li p {
	color:#444444;
	display:block;
	float:left;
}
.news-image {
	float: left;
	margin: 0 8px 8px 0;
}
h1.news-item {
	color:#444444 !important;
	margin:10px 0 13px !important;
}
.index-menu-wrap {
	margin:15px 0;
}
.index-menu {
	
}
.index-menu td{
	background:transparent url(../images/index-small-menu.gif) no-repeat scroll 8px 8px;
	float:left;
	padding:0 0 0 40px;
	width:25%;
}
.index-menu td.link-0{
	width:150px !important;
}
.index-menu td.link-1{
	width:160px !important;
}
.index-menu td.link-2{
	width:65px !important;
}
.index-menu td.active{
	background:transparent url(../images/index-small-menu-active.gif) no-repeat scroll 8px 8px;
	float:left;
	padding:0 0 0 40px;
	width:25%;
}
.index-menu td.active a{
	color:red;
	height:23px;
}
.index-menu td a:hover{
	color: red;
	border-bottom: 1px dashed red;
}
.index-menu td span{
	
}
.index-menu td span a{
	color:#444444;
	font-size:15px;
	font-weight:bold;
	height:23px;
	text-decoration: none;
	border-bottom: 1px dashed #444444;
}
.text ul.news-all .news-title {
	color:red;
	font-size:14px;
	font-weight:bold;
	text-indent:0;
	margin:0;
}
.text ul.news-all .news-date {
	color:#5D6264;
	font-size:10px;
	margin:5px 0 15px;
	padding:0 20px 0 0;
	text-indent:0;
}
.text ul.news-all .news-readmore {
	text-indent:0;
}
.text ul.news-all .news-readmore a:hover{
	text-decoration:none;
}
.text ul.news-all .news-intro {
	margin:5px 0 0;
	text-indent:0;
}
.text ul.news-all li {
	background:transparent none repeat scroll 0 0;
	margin:0 0 40px;
}
.news-pager {
	font-size:13px;
	text-align:center;
}
.ditto_page {
	padding: 0 8px;
}
.ditto_previous_link {
	padding: 0 8px;
}
.ditto_next_link {
	padding: 0 8px;
}
.ditto_currentpage {
	padding: 0 8px;
}
.clients-into-text a{
	color: #000000;
}
.feedback {
	background:#E1E1E1 none repeat scroll 0 0;
	color:#000000;
	padding:5px;
	width:255px;
}
a.B_crumb:hover,
a.B_homeCrumb:hover{
	text-decoration: none;
}
.B_crumbBox {
	margin: 0 0 0 0;
}
.lspace {
	width:5%;
}
.cspace {
	width:5%;
}
.rspace {
	width:5%;
}
.left {
	color:#333333;
	padding-top:14px;
	vertical-align:top;
	width:30%;
}
.arrow {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align:left;
}
.right .arrow {
	margin-top:8px;
}
.arrow li {
	background:none;
	line-height:1em;
	margin-bottom:20px;
	padding-left:33px;
}
.right .arrow li {
	margin-bottom:7px;
}
.left .font9 {
	display:block;
	font-family:"Microsoft Sans Serif",sans-serif;
	margin-bottom:3px;
}
.font9 {
	font-size:0.75em;
}
.grey {
	color:#666666;
}
.left .font20 {
	font-family:Georgia,"Times New Roman",Times,serif;
}
.font20 {
	font-size:1.67em;
}
.center {
	padding-top:12px;
	vertical-align:top;
	width:20%;
}
.center table {
	height:48px;
	margin:0 auto;
	width:auto;
}
.center table td {
	padding:0 7px 10px 0;
	text-align:center;
	vertical-align:top;
}
.center p {
	text-align:center;
}
.right {
	color:#333333;
	font-size:0.92em;
	line-height:1.2em;
	vertical-align:top;
	width:25%;
}
.right table {
	width:auto;
}
.right table td {
	height:37px;
	padding:0 5px 0 0;
}
table.pager-portfolio {
	border: none;
	padding: 0;
	margin: 0;
	width: 100%;
	margin-bottom: 20px;
}
div.catitem {
	float:left;
	margin:0 0 45px;
	padding-bottom:20px;
	width:50%;
}
div.catitem .image {

}
div.catitem .image img {
	border-color:#EBEBEB;
	border-style:solid;
	border-width:14px 17px;
}
div.catitem .text {
	width:315px;
}
div.catitem .title {
	color:#000000;
	font-family:Tahoma,Arial,Verdana,Helvetica,sans-serif;
	font-size:1.29em;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.22em;
	margin:0 0 0.5em;
}
.content p, .content ul, .content ol, .content table, pre {
	margin-bottom:1em;
}
div.catitem .more {
	padding:3px 0 15px;
}
div.banners a img {
	margin:0 0 10px;
}
div.banners {
	margin:25px 0 10px;
}
.feedback-wr1 {
	background:transparent url(../images/feedback-wr1.jpg) repeat-y scroll 0 0;
	width:265px;	
}
.feedback-wr2 {
	background:transparent url(../images/feedback-wr2.jpg) no-repeat scroll 0 0;
}
.feedback-wr3 {
	background:transparent url(../images/feedback-wr3.jpg) no-repeat scroll 0 bottom;
	padding:0 0 4px 5px;
	margin:0 0 10px;
}
div.clients {
	padding:20px 0 0;
	width:265px;
}
.banners {
	width:265px;
}
#compare-chart {
	width: 100%;
}
#prodCompare #compare-chart thead td.small, 
#prodCompare #compare-chart thead td.medium, 
#prodCompare #compare-chart thead td.large {
	text-transform:none;
	background:transparent none repeat scroll 0 0;
}
#prodCompare #compare-chart td.small {
	width:166px;
}
#prodCompare #compare-chart td.medium {
	width:185px;
}
#prodCompare #compare-chart td.large {
	width:185px;
}
#prodCompare #compare-chart tbody td {
	background-color:#464646;
	border-top:1px dotted #626262;
	border-bottom:1px dotted #626262;
	border-right:1px solid #787878;
	padding:3px 10px 2px;
}
#prodCompare #compare-chart tbody td.pkg .button-container {
	padding:15px 0 5px;
}
#prodCompare #compare-chart tbody td.pkg.small {
	background-color:#95B912;
}
#prodCompare #compare-chart tbody td.pkg.medium {
	background-color:#449516;
}
#prodCompare #compare-chart tbody td.pkg.large {
	background-color:#049683;
}
#prodCompare #compare-chart tbody td.name {
	padding:3px 10px 2px;
	width:280px;
}
#prodCompare #compare-chart tbody td.section {
	padding:10px;
	font-size:17px;
	font-weight:normal;
	vertical-align:bottom;
	padding-bottom:5px;
	border-top:none;
	border-right:none;
	background-color:transparent;
	border:none;
	width:auto;
}
#prodCompare #compare-chart tbody td.section.break {
	padding-top:18px;
}
#prodCompare #compare-chart tbody td.section.break.alt {
	border-bottom:1px dotted #AFAFAF;
}
#prodCompare #compare-chart tbody td.section p {
	margin:0;
	padding:0;
}
#prodCompare #compare-chart tbody td.pkg {
	padding:10px;
}
#prodCompare #compare-chart tbody td.pkg .monthly-price {
	color:#FFFFFF;
	font-size:26px;
	font-weight:bold;
	line-height:28px;
}
#prodCompare #compare-chart tbody td.pkg .monthly-price .term {
	font-size:20px;
	font-weight:normal;
}
#prodCompare #compare-chart tbody td.pkg .monthly-price sup {
	font-size:12px;
	font-weight:normal;
}
#prodCompare #compare-chart tbody td.pkg .annual-price {
	font-size:14px;
	font-weight:normal;
	color:#FFFFFF;
}
#prodCompare #compare-chart tbody td.pkg .annual-price .term {
	font-size:14px;
	font-weight:normal;
}
#prodCompare #compare-chart tbody td.button {
	padding:15px 0;
	text-align:center;
}
#wrapper .container .box.large {
	width:auto;
}
#prodCompare.popup-package-comparison p {
	color:#666666;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart thead td .description {
	color:#707070;
	font-size:14px;
	text-transform:none;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart tbody tr td {
	background-color:#F6F6F6;
	border-bottom:1px dotted #D2D2D2;
	border-right:1px solid #FFFFFF;
	border-top:1px dotted #D2D2D2;
	font-weight:bold;
	padding:3px 10px 2px;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart tbody tr.evens td {
	background-color:#E9E9E9;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart tbody tr td.left-me {
	text-align:left;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart tbody tr td.section {
	background-color:transparent;
	color:#236C6E;
	font-weight:normal;
	width:70%;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart tbody tr td.pkg {
	padding:20px 10px 10px 10px;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart tbody td.pkg.small {
	background-color:#95B912;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart tbody td.pkg.medium {
	background-color:#449516;
}
#prodCompare.popup-package-comparison #compare-chart.nshosting-compare-chart tbody td.pkg.large {
	background-color:#049683;
}
#prodCompare.popup-package-comparison .disclaimer {
	margin:20px 0 0 0;
	padding:0;
	width:880px;
}
#prodCompare.popup-package-comparison .disclaimer p {
	font-size:11px;
	line-height:1.25;
}